*{
  margin: 0px;
  padding: 0px;
}
.App{
  display: flex;
}
.siderbar{
  flex: 0.5;
  height: 100vh;
  background-color: #F8F8F8;
  display: block;
}
.rightside{
  flex: 3 ;
  height: 100vh;
  position: relative;
}
@media (max-width:635px){
  .siderbar{
      display: none;
  }

}
